{% load static %}
<!DOCTYPE html>
<html>
    {% include "general/head.html" %}
<body>
    <canvas id="renderCanvas" touch-action="none"></canvas>
</body>
<script>
    const image_sas = "{{ background_asset_sas|safe }}";
    const asset = {{ asset|safe }};
    const data = {{ data|safe }};
    console.log("running on boundary_id: ", asset)
    console.log(data)

    {% include "components/globals_3d.js"}
    {% include "components/scene_canvas_3d.js" %}
    {% if gui == "on" %}
        {% include "components/gui_3d.js" %}
    {% endif %}
    {% include "components/data_points_3d.js" %}
</script>
</html>

