{% load static %}
<!DOCTYPE html>
<html>
    {% include "general/head.html" %}
<body height="100%">
    <div id="container"></div>
    <script>
        var scene_height = window.innerHeight
        var scene_width = window.innerWidth

        
        const image_sas = "{{ background_asset_sas|safe }}";
        const asset = "{{ asset|safe }}";
        const data = "{{ data|safe }}";
        

        // most of the business logic taken in other pages. 
        {% include "components/scene_canvas_2d.js" %}
    </script>
</body>
</html>

